.navbar {
    background-color: #27272F !important;
}

.icon-tabler-brand-valorant {
    color: #FF4655;
    width: 100%;
    height: 100%;
}

.navbar-brand {
    width: 40px;
}

.nav-link {
    color: #ECE8E1 !important;
}