* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111111;
    color: #ECE8E1 !important;
}

#root{
    display: flex;
    flex-direction: column;
    gap: 20px;
}